@use 'base';

/* Global layout ------------- */ 

/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Mobile & Tablet */
body {
  font-size: 24px;
  font-family: base.$main-font;
  width: 100%;
  padding-bottom: 2em;
  color: base.$dark-grey;
  background-color: base.$off-white;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  body {
    display: flex;
  }
}

/* Main container ------------- */

/* Mobile & Tablet */
main {
  @include base.flex-column-center;
  width: 90%;
  margin: 0 auto;
  background-color: base.$off-white;

  .bring-to-top {
    align-self: flex-end;
    border-radius: 50%;
    color: base.$white;
    background-color: base.$dark-red;
    width: 3em;
    height: 3em;
    border-color: base.$transparent;
    position: fixed;
    top: 85%;
    display:none;
  }

  .bring-to-top:hover{
    text-decoration:none;
    cursor: base.$cursor;
  }
}

 /* Desktop */
@media screen and (min-width: 1280px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}