/* Global layout ------------- */ 

/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Mobile & Tablet */
body {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  padding-bottom: 2em;
  color: #545149;
  background-color: #f4f1ec;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  body {
    display: flex;
  }
}

/* Main container ------------- */

/* Mobile & Tablet */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  background-color: #f4f1ec;
}

 /* Desktop */
@media screen and (min-width: 1280px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}