/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Global layout */
body {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  padding-bottom: 2em;
  color: #545149;
  background-color: #f4f1ec;
}

/* Main container */
 .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  background-color: #f4f1ec;
 }

 /* Added when condition is met on composer-char-counter.js */
 .red {
  color: red;
}