/* Mobile & Tablet */
.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 3em;
  padding-top: 19em;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .new-tweet {
    float: right;
    width: 60%;
    padding-top: 7.5em;
  }
}

.tweet-input {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  color: #545149;
  background-color: #f4f1ec;
  font-weight: bold;
  border: 0em;
  border-bottom: 0.20em solid #545149;
}

.submit-count {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  padding-top: 0.5em;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
  padding-top: 0.20em;
  border-radius: 0.25em;
}

.errors div {
  color: red;
  border: 0.15em solid red;
  padding: 0.25em;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

 /* Added when condition is met on composer-char-counter.js */
 .red {
  color: red;
}
