/* -------- View tweets -------- */

.tweets-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 4px solid #545149;
  margin-bottom: 1.5em;
}

.tweet-container:hover {
  box-shadow: 7px 7px rgb(179, 189, 196);
}

/* Header code */
.tweet-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding-top: 1em;
}

.tweet-container-header>div {
  display: flex;
  align-items: center;
}

.tweet-container-header>div>span {
  padding-left: 0.5em;
}

.handle {
  color: lightgrey;
  font-weight: bold;
  font-style: italic;
}

/* Body code */
.tweet-container-body {
  align-self: flex-start;
  width: 95%;
  margin: 0 auto;
}

.tweet-container-body>p{
  overflow-wrap: anywhere;
}

/* Footer code */
.tweet-container-footer {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid #545149;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

.tweet-container-footer>span {
  font-size: 17px;
}

.tweeter-icons {
  color: #4056A1;
}

.fa-flag:hover {
  color: goldenrod;
}

.fa-retweet:hover {
  color: goldenrod;
}

.fa-heart:hover {
  color: goldenrod;
}

